<div class="packet">
  <div class="top--bar">
    <a href="#">Freeship cho đơn từ 200k</a>
  </div>
  <div class="header">
    <div class="header--inner">
      <div class="header--logo">
        <a href="/"><img src="https://www.coolmate.me/images/logo-coolmate.svg" alt="Logo Coolmate"></a>
      </div>
      <div class="header--menu">
        <ul>
          <li>
            <a>Sản phẩm</a>
            <div class="product--list">
              <div class="product--list__title"></div>
              <div class="product--list__item"></div>
            </div>
          </li>
          <li>
            <a>84RISING*</a>
          </li>
          <li>
            <a>Coolxprint</a>
          </li>
          <li>
            <a>Về taomate</a>
          </li>
          <li>
            <a>Chọn size</a>
          </li>
        </ul>
      </div>
      <div class="header--actions">
        <img src="https://www.coolmate.me/images/header/icon-search.svg" alt="Icon Search">
        <img src="https://www.coolmate.me/images/header/icon-account.svg" alt="Icon Account">
        <a [routerLink]="['/cart']" routerLinkActive="router-link-active" ><img src="https://www.coolmate.me/images/header/icon-cart.svg" alt="Icon mini cart"></a>
      </div>
    </div>
  </div>

</div>
